<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-1">
            <p>Creá tu prode con</p>
            <h1>PRODES</h1>
            <p>Un PBI en premios!</p>
        </div>
    </div>
</div>

{{!-- NOVEDADES --}}
<div class="row py-4" id="novedades">
    <div class="col-md-5 offset-md-1 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal{{ id }}">
                    <img src="./../images/qatar2.jpeg" alt="FOTO">{{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    {{!-- MODAL --}}

    {{#each novedades}}
    <div class="modal fade" id="modal{{ id }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>{{subtitulo}}</h2>
                    <p>{{cuerpo}}</p>

                </div>
            </div>

        </div>
    </div>
    {{/each}}

    {{!-- TESTIMONIOS --}}
    <div class="col-md-3 offset-md-1 my-3">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h2>Me gane un auto!</h2>
                            <p>leo messi</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h2>Me gane una tele</h2>
                            <p>gonzalo olmos</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h2>no gane nada, pero recomiendo</h2>
                            <p>cr7</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-5 offset-md-1 py-3">
        <h2>Nosotros</h2>
        <div class="rounded py-5 testimonios">
            <div class="testimonio">
                <p>Somos un grupo de personas emocionadas con el mundial y con ganas <br>
                    de traerle a la gente una forma de ganar según cuánto sepan de futbol. <br>
                    Cuidado, puede haber sorpresas. <br>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 offset-md-1 my-3">
        <div>
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.5232776984903!2d51.48854161553768!3d25.42076348379267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45e79240aff901%3A0x78b22e86c6d52895!2sEstadio%20Lusail!5e0!3m2!1ses!2sar!4v1672416977025!5m2!1ses!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</div>